/* ======== Fuente y colores base ======== */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600&family=Poppins:wght@400;600&display=swap');

:root {
    --color-bg: linear-gradient(160deg, #c65a5a, #b52525, #361313);
    --color-acordeon: linear-gradient(240deg, #c65a5a, #b52525, #6a2222);
    --color-acOpen: linear-gradient(240deg, #ee8989, #e63e3e, #9a2222);
    --color-bgList: rgb(246, 230, 232);
    --color-primary: #c62828;
    --color-accent: #933f4c;
    --color-muted: #aaa;
    --color-texto: #ffffff;
    --fondoImagenes: linear-gradient(0deg, rgb(69, 65, 10), rgb(80, 94, 11), rgb(134, 201, 58), rgb(219, 224, 198), rgb(62, 118, 9));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
  font-family: 'Poppins', 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  background: var(--color-bg);
}

main {
  background: var(--color-bg);
  color: var(--color-texto);
}
.tjt,.bdtr{
  background: var(--color-bg);
}



/* ====== TARJETA PRINCIPAL ====== */
.tarjeta {
    min-width: 60vh;
    max-width: 800px;
    margin: 2rem auto;
    background: var(--fondoImagenes);
    border-radius: 1rem;
    border: 5px solid rgb(90, 48, 48);
    padding: 1.5rem;
    box-shadow: 5px 5px 15px 10px rgba(58, 55, 55, 0.6);
    object-fit: contain;
}

/* ====== CONTENEDOR DE IMAGEN ====== */
.carousel-item {
    transition: transform 1.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.3s ease-in-out !important;
}


.ImgChar {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* Cuadrado adaptable */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgba(78, 59, 115, 0.4);
    box-shadow: 0 0 10px 5px rgba(220, 215, 215, 0.6);
    padding: 2rem;
}

/* ====== IMAGEN ====== */
.ImgChar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* ====== DATOS DEL PERSONAJE ====== */
.datos {
    background-color: rgba(20, 5, 5, 0.9);
    border-radius: 0.5rem;
    border: 5px solid rgba(128, 37, 54, 0.734);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos h5 {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    text-shadow: 2px 2px rgb(46, 41, 41);
}

/* ====== BOTONES DE CARRUSEL ====== */
.btnPrev,
.btnNxt {
    width: 3rem;
}

/* ========= BOTONES PAGINACION ==============*/

.control {
    width: 60vh;
    display: flex;
    padding: 1rem;
    margin: auto;
    gap: 1rem;
}

.control a {
    width: 100%;
    font-weight: bold;
}